---
---

@import "{{ site.theme }}";
@import url("loader.css");
@import url("silly.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,800");

/* Roboto Slab + Open Sans ?? */


/* COLORS #ecd1ee #f3fbdb #00274e   #005599   #83a8bb   #c3c8cd  #ffd12a #9b59b6 #e67e22 #1abc9c #2ecc71 #e74c3c #3498db #34495e */


/* ==================================================================================================== nononormalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    overflow-x: hidden !important;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

small {
    font-size: 75%;
}


/* ================================================================================================ Body */

html body {
    text-decoration: none;
    color: #ECEDDC;
    font-weight: 400;
    font-size: 4vw;
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    word-wrap: break-word !important;
    text-align: left;
}

html body:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-transform: none !important;
}

html {
    background-attachment: fixed, fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

html.is-loading body *,
html.is-loading body *:before,
html.is-loading body *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

html.is-touch {
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    height: 100vh;
    overflow: auto;
}

html.is-touch #wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    height: 100vh;
    overflow: auto;
}


/* ================================================================================================ Containers */

.container {
    margin: 0 auto;
}

.container.\31 25\25 {
    width: 100%;
    max-width: 43.75em;
    min-width: 35em;
}

.container.\37 5\25 {
    width: 26.25em;
}

.container.\35 0\25 {
    width: 17.5em;
}

.container.\32 5\25 {
    width: 8.75em;
}

.container {
    width: 35em;
}

@media screen and (max-width: 980px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 100%;
        min-width: 80%;
    }
    .container.\37 5\25 {
        width: 60%;
    }
    .container.\35 0\25 {
        width: 40%;
    }
    .container.\32 5\25 {
        width: 20%;
    }
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 736px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 100%;
        min-width: 80%;
    }
    .container.\37 5\25 {
        width: 60%;
    }
    .container.\35 0\25 {
        width: 40%;
    }
    .container.\32 5\25 {
        width: 20%;
    }
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 125%;
        min-width: 100%;
    }
    .container.\37 5\25 {
        width: 75%;
    }
    .container.\35 0\25 {
        width: 50%;
    }
    .container.\32 5\25 {
        width: 25%;
    }
    .container {
        width: 100%;
    }
}


/* ================================================================================================ Main BG */

.main-bg.active {
    opacity: 1;
}

.main-bg {
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
    background-repeat: repeat, none;
    background-size: auto, cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}


/* ================================================================================================ Main Container */

.main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 10;
}

.main .container {
    padding: .5em 3em;
    width: 100%;
    height: 100%;
    word-break: normal;
    display: block;
    margin: 0;
}

.main .container:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
}

.main .container .content {
    display: inline-block;
    margin-right: 1px;
    vertical-align: middle;
    width: calc(100% - 10px);
    height: 100%;
}


/* ================================================================================================ Header */

#header {
    min-height: 100vh;
    overflow: hidden !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
    background-color: white;
}

.ona {
    cursor: default;
}

.overlay {
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ECEDDC;
}

.omg {
    color: black;
    background-color: white;
    mix-blend-mode: screen;
}

.bubble {
    text-transform: uppercase;
    background-image: url("../../img/bgs.gif");
    font-weight: 800;
    font-size: 33.33vmin;
    margin: 0.07em;
    position: absolute;
    padding: 0;
    letter-spacing: -0.05em;
    line-height: 0.75em;
    white-space: nowrap;
}

#comm {
    font-size: 11vmin;
}


/* ======================================================================================================== One */

#one {
    background-color: #E1E6EC;
    background-image: -webkit-linear-gradient(top, #E1E6EC 2%, #F0F4F7 96%), -webkit-radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 200%);
    background-image: linear-gradient(-180deg, #E1E6EC 2%, #F0F4F7 96%), radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 200%);
    background-blend-mode: normal, color-burn;
    padding: 0;
    margin: 0;
}

#one h1 {
    letter-spacing: -.0777em;
    font-weight: 800;
    color: #e74c3c;
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 180%;
    line-height: 1;
}

.ghostext {
    animation: float 3.2s ease-out infinite;
}

@keyframes float {
    50% {
        transform: translate(0, 4.2px);
    }
}

#typeit {
    color: #E1E6EC;
    position: absolute;
    display: flex;
}

#typeit:hover {
    color: #ECEDDC;
}

#one a {
    color: #ECEDDC;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    list-style-type: none;
    text-decoration: none;
}

.wrap:after {
    animation: blink 1s ease-out infinite linear !important;
    content: '|';
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    80% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


/* ======================================================================================================== Two */

#two {
    background-image: -webkit-linear-gradient(top, #C8C9D1 0%, #AAAFB7 99%);
    background-image: linear-gradient(180deg, #C8C9D1 0%, #AAAFB7 99%);
    padding: 0;
    margin: 0;
}

#two a {
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    line-height: inherit;
    list-style-type: none;
    margin: 0;
    padding-top: .5em;
}

#two a::before,
#two a::after {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.link {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #ECEDDC;
}

.link.google {
    border-bottom: 2px solid rgba(231, 76, 60, 0.25);
}

.link.linkedin {
    border-bottom: 2px solid rgba(0, 123, 182, 0.25);
}

.link.twitter {
    border-bottom: 2px solid rgba(0, 172, 237, 0.25);
}

.link.portfolio {
    border-bottom: 2px solid rgba(255, 209, 42, 0.25);
}

.link.resume {
    border-bottom: 2px solid rgba(26, 188, 156, 0.25);
}

.link:hover {
    border-bottom: 2px solid transparent;
}

.link:hover.google {
    color: #e74c3c;
}

.link:hover.linkedin {
    color: #007bb6;
}

.link:hover.twitter {
    color: #00aced;
}

.link:hover.resume {
    color: #1abc9c;
}


/* ======================================================================================================== Footer */

.footer {
    background-color: rgba(255, 209, 42, .8);
    height: 10px;
    max-height: 10px;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 10;
}

.footer a:hover {
    background-color: rgba(255, 209, 42, 1)
}

.doge {
    display: flex;
    height: 10px;
}
