<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <!--  Theme for Android and others -->
    <meta name="theme-color" content="#E64545">
    <link href="../assets/css/style.scss" rel="stylesheet">
    <title>Bernardo Gall</title>
    <meta name="subject" content="Personal website of Bernardo Gall">
    <meta name="description" content="DESCRIPTION">
</head>

<body>

    <section id="header" class="main">
        <header class="noselect bubble">
            <div data-text="BER">
                <p class="ber omg">Ber</p>
            </div>
            <div data-text="NAR">
                <p class="nar omg">nar</p>
            </div>
            <div data-text="DOG">
                <p class="dog omg">doG</p>
            </div>
            <div data-text="ALL.">
                <p class="all omg">all</p>
            </div>
        </header>
        <div class="arrow"></div>
        <a href="#one" class="ona scrolly">
            <div class="overlay"></div>
        </a>
    </section>

    <!-- ==================================================================================================== One -->

    <section id="one" class="main crt">
        <span class="snow"></span>
        <span class="screen"></span>
        <div class="container">

            <div class="content noselect">
                <h1 class="ghostext glitch" data-text="Hello">Hello</h1>
                <p class="glitch" id="typeit"></p>
                <p id="txt">I am an autodidact geek !</p>
            </div>
        </div>
        <a href="#two" class="ona scrolly">
            <div class="overlay"></div>
        </a>
    </section>
    <!-- ==================================================================================================== Two -->
    <section id="two" class="main crt">
        <span class="snow"></span>
        <span class="screen"></span>
        <div class="container">

            <div class="content noselect">
               <p>In the meantime, you can follow me on <a class="link linkedin" href="http://br.linkedin.com/in/bernardogall/" target="_blank" rel="noopener"> linkedin</a>.</p>
            </div>
        </div>
    </section>
    <section class="footer">
        <a href="#header" class="doge scrolly"></a>
    </section>

    <!-- ==================================================================================================== Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/typeit.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/textEffect.js"></script>
    <script src="assets/js/modernizr.js"></script>
    <script>
        $(".ber").textEffect({
                repeat: 66
            }),
            $(".nar").textEffect({
                repeat: 99
            }),
            $(".dog").textEffect({
                repeat: 88
            }),
            $(".all").textEffect({
                repeat: 77
            }),
            $(".com").textEffect({
                repeat: 98
            }),
            $(".ghostext").textEffect({
                startTime: 0,
                repeat: 42,
                loop: "infinite",
                timeout: 5300
            })
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-16450520-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
<!--                             /   \
                         )      ((   ))      (
                        /|\      ))_((      /|\
(@)                    / | \    (/\|/\)    / | \                    (@)
|-| ------------------/--|-voV---\`|'/---Vov-|--\------------------ |-|
| |                        '^`   (o o)   '^`                        | |
| |                              `\Y/'                              | |
| |                                                                 | |
| |                   _ _  _____ .',         ..     c               | |
| |                  |_)_) (_(_|  |  --- --- .. (_| |               | |
| |                  |         |     (_, (_,      |                 | |
| |                                                                 | |
| |                                                                 | |
| |                                                                 | |
| |       Credits:                                                  | |
| |                                                                 | |
| |         HTML5 UP! (html5up.net)                                 | |
| | 	    xxx                                                       | |
| | 		Unsplash (unsplash.com)                                     | |
| |         xxx                                                     | |
| |         Coverr (coverr.co)                                      | |
| |         CSS3 Glitch by @idmontie                                | |
| | 	    textEffects (github.com/fourdesire/texteffects)           | |
| | 		jQuery (jquery.com)                                         | |
| | 		html5shiv.js (@afarkas @jdalton @jon_neal @rem)             | |
| | 		Respond.js (j.mp/respondjs)                                 | |
| | 		Skel (skel.io)                                              | |
| |         Normalize.css (necolas.github.io/normalize.css)         | |
| |         Adapted from the awesome ASCII Art by Jeff Ferris       | |
| |                                                                 | |
|_| _______________________________________________________________ |-|
(@)               l   /\ /         ( (       \ /\   l               (@)
                  l /   V           \ \       V   \ l
                  l/                _) )_          \I
                                    `\ /'
                                      `                              -->
