<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">



  <body>

    

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section id="header" class="main">
          <header class="noselect bubble">
              <div data-text="BER">
                  <p class="ber omg">Ber</p>
              </div>
              <div data-text="NAR">
                  <p class="nar omg">nar</p>
              </div>
              <div data-text="DOG">
                  <p class="dog omg">doG</p>
              </div>
              <div data-text="ALL.">
                  <p class="all omg">all.<span data-text="COM" id="comm">com</span></p>
              </div>
          </header>
      </section>
        
      </div>
    </main>


  </body>

</html>