<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="google" content="notranslate">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <!--  Theme for Android and others -->
    <meta name="theme-color" content="#E64545">
    <link href="../assets/css/style.scss" rel="stylesheet">
    <title>Bernardo Gall</title>
    <meta name="subject" content="Personal website of Bernardo Gall">
    <meta name="description" content="DESCRIPTION">
</head>

<body>

    <section id="header" class="main">
        <header class="noselect bubble">
            <div data-text="BER">
                <p class="ber omg">Ber</p>
            </div>
            <div data-text="NAR">
                <p class="nar omg">nar</p>
            </div>
            <div data-text="DOG">
                <p class="dog omg">doG</p>
            </div>
            <div data-text="ALL.">
                <p class="all omg">all</p>
            </div>
        </header>
        <div class="arrow"></div>
        <a href="#one" class="ona scrolly">
            <div class="overlay"></div>
        </a>
    </section>

    <!-- ==================================================================================================== One -->

    <section id="one" class="main crt">
        <span class="snow"></span>
        <span class="screen"></span>
        <div class="container">

            <div class="content noselect">
                <h1 class="ghostext glitch" data-text="Hello">Hello</h1>
                <p class="glitch" id="typeit"></p>
                <p id="txt">I am an autodidact geek trully passionate about technology, a network security analyst for global corporations and a full-stack-front-end-freelancer-web-master-designer (pick two) for some not quite as large companies. Currently, I am somewhere near 20°15'S 40°15'W so let's have a coffee if you are around!</p>
            </div>
        </div>
        <a href="#two" class="ona scrolly">
            <div class="overlay"></div>
        </a>
    </section>
    <!-- ==================================================================================================== Two -->
    <section id="two" class="main crt">
        <span class="snow"></span>
        <span class="screen"></span>
        <div class="container">

            <div class="content noselect">
                <p>Right now I am somewhere near <small class="shake">20°15'S 40°15'W</small></p>
                <p>However, if you're not around for a coffee you can still say hello to me <a class="link google" href="mailto:me@bgall.co" target="_blank" rel="noopener">@bgall.co </a> or <a class="link twitter" href="https://twitter.com/bernardogall" target="_blank" rel="noopener">@bernardogall</a>.</p>
                <p>Currently <span class="hover-reveal no-touch">my <a class="link portfolio" href="#" target="_blank" rel="noopener">portfolio</a><img class="hover-reveal-image nanana" alt="" src="/images/403.gif" role="presentation"/></span> is unavailable <small>but someday it will suddenly appear here</small>.</p>
                <p>In the meantime, you can follow me on <a class="link linkedin" href="http://br.linkedin.com/in/bernardogall/" target="_blank" rel="noopener"> linkedin</a>, get an exclusive <small>and updated</small> copy of my <a class="link resume" href="bernardogall.pdf" target="_blank"><span class="label"> Curriculum Vit&aelig;</span></a> and check this out.</p>
            </div>
        </div>
    </section>
    <section class="footer">
        <a href="#header" class="doge scrolly"></a>
    </section>

    <!-- ==================================================================================================== Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/typeit.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/textEffect.js"></script>
    <script src="assets/js/modernizr.js"></script>
    <script>
        $(".ber").textEffect({
                repeat: 66
            }),
            $(".nar").textEffect({
                repeat: 99
            }),
            $(".dog").textEffect({
                repeat: 88
            }),
            $(".all").textEffect({
                repeat: 77
            }),
            $(".com").textEffect({
                repeat: 98
            }),
            $(".ghostext").textEffect({
                startTime: 0,
                repeat: 42,
                loop: "infinite",
                timeout: 5300
            })
    </script>

    <!--
I am an autodidact geek trully passionate about technology, a network security analyst for global corporations and a full-stack-front-end-freelancer-web-master-designer (pick two) for some not quite as large companies.

Currently, I am somewhere near 20°15'S 40°15'W

so let's have a coffee if you are around!

trully passionate about technology!
an autodidact geek.
Jack´s complete lack of surprise.
<b>a chatbot</b>
<b>Edmond Dantes</b>
<b>your father</b>
<b>also your mother</b>
<b>your brother</b>
<b>your friend</b>
<b>Mr. Finch</b>
<b>me</b>
<b>all of us</b>
<b>as bald as Natalie Portman in that scene from V</b>
<b>making a reference here in case you didn't get it</b>
<b>the one who knocks</b>

<b>Sam Sepiol</b>
<b>Bill Harper</b>
<b>Elliot Alderson</b>
<b>Thomas A. Anderson</b>
<b>Jones, the dolphin from the movie Johnny Mnemonic</b>
<b>the Lawnmower Man</b>
<b>Dade Murphy</b>
<b>Beakman</b>
<b>become Death, the destroyer of worlds.</b>
<b>done. Thanks for staying by, you are funny!</b>
</span>



-->
    <script>
        $('#typeit').typeIt({
                startDelay: 1500
            })
            .tiType('My name is Bernardo Gall and I am a network analyst for global corporations')
            .tiPause(700)
            .tiType(', soon to be a security analyst, hopefully.')
            .tiBreak()
            .tiPause(4000)
            .tiType('I am also a UX de')
            .tiPause(700)
            .tiDelete(5)
            .tiType('webmast')
            .tiPause(700)
            .tiDelete(4)
            .tiPause(500)
            .tiType('designer.')
            .tiPause(1200)
            .tiDelete(12)
            .tiPause(500)
            .tiType('frontend developer')
            .tiPause(500)
            .tiType(' for some not quite as large companies.')
            .tiPause(3500)
            .tiBreak()
            .tiType('webmast')
            .tiDelete(21)
            .tiPause(850)
            .tiType('not gonna stop doing this so you better keep scrolling down! ')
            .tiPause(600)
            .tiType('<b>:)</b>');
    </script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-16450520-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
<!--                             /   \
                         )      ((   ))      (
                        /|\      ))_((      /|\
(@)                    / | \    (/\|/\)    / | \                    (@)
|-| ------------------/--|-voV---\`|'/---Vov-|--\------------------ |-|
| |                        '^`   (o o)   '^`                        | |
| |                              `\Y/'                              | |
| |                                                                 | |
| |                   _ _  _____ .',         ..     c               | |
| |                  |_)_) (_(_|  |  --- --- .. (_| |               | |
| |                  |         |     (_, (_,      |                 | |
| |                                                                 | |
| |                                                                 | |
| |                                                                 | |
| |       Credits:                                                  | |
| |                                                                 | |
| |         HTML5 UP! (html5up.net)                                 | |
| | 	    xxx                                                     | |
| | 		Unsplash (unsplash.com)                                 | |
| |         xxx                                                     | |
| |         Coverr (coverr.co)                                      | |
| |         CSS3 Glitch by @idmontie                                | |
| | 	    textEffects (github.com/fourdesire/texteffects)         | |
| | 		jQuery (jquery.com)                                     | |
| | 		html5shiv.js (@afarkas @jdalton @jon_neal @rem)         | |
| | 		Respond.js (j.mp/respondjs)                             | |
| | 		Skel (skel.io)                                          | |
| |         Normalize.css (necolas.github.io/normalize.css)         | |
| |         Adapted from the awesome ASCII Art by Jeff Ferris       | |
| |                                                                 | |
|_| _______________________________________________________________ |-|
(@)               l   /\ /         ( (       \ /\   l               (@)
                  l /   V           \ \       V   \ l
                  l/                _) )_          \I
                                    `\ /'
                                      `                              -->
